.DS_Store
*.log
*.lock.json
.idea/
.vscode/
lazy-lock.json
__pycache__/

# Post Install Directories and Files
github-copilot/
thefuck/
tmux/.config/tmux/plugins/
.zsh_sessions/
.zsh_history
Brewfile.combined
git/.config/git/gitconfig.d/user.conf
.zcompdump
