# Package Managers and Taps
tap "homebrew/bundle"
tap "homebrew/services"
tap "azure/functions"
tap "oven-sh/bun"
tap "jesseduffield/lazydocker"
tap "FelixKratz/formulae"
tap "nikitabobko/tap"
tap "joshmedeski/sesh"

# Core Development Tools
brew "git"
brew "gcc"
brew "gettext"
brew "gnu-sed"
brew "gnu-tar"
brew "bat" # A cat with syntax highlighting and Git integration
brew "git-delta" # A viewer for git and diff output
brew "eza" # A simple, fast, and modern editor
brew "jq"

# System Utilities
brew "mas"
brew "unar"
cask "iterm2"
cask "alacritty"
brew "gnupg"
brew "pinentry-mac"
brew "fd"  # Alternative to find
brew "fzf"  # Fuzzy finder
brew "ripgrep"  # Search tool like grep and The Silver Searcher
cask "linearmouse"
brew "stow" # Manage symlinks in one place (dotfiles)
brew "starship" # prompt
brew "gum"
brew "tree"
brew "wget"
brew "tmux"
brew "zellij"
brew "joshmedeski/sesh/sesh"
brew "zoxide" # A faster way to navigate your filesystem
brew "zsh-autosuggestions"
brew "zsh-syntax-highlighting"
brew "tlrc"  # TLDR Rust Client
brew "thefuck"
brew "terminal-notifier"
cask "nikitabobko/tap/aerospace"
brew "bluetoothconnector"
cask "monitorcontrol"
cask "homerow"
brew "pre-commit"
brew "zsh-you-should-use"

# Programming Languages
brew "node"
brew "oven-sh/bun/bun"
brew "python"

# Development Tools
brew "lazygit"
brew "jesseduffield/lazydocker/lazydocker"
brew "neovim"
cask "mongodb-compass"
brew "azure/functions/azure-functions-core-tools@4"
cask "github"
cask "postman"
cask "visual-studio-code"
brew "gh"
brew "pipenv"
brew "poetry"
brew "pyenv"
brew "uv"

# Productivity
cask "raycast"
cask "rectangle"
cask "itsycal"

# Fonts
cask "font-jetbrains-mono-nerd-font"
cask "font-victor-mono-nerd-font"
cask "font-jetbrains-mono"
cask "font-symbols-only-nerd-font"

# Ricing
brew "FelixKratz/formulae/borders"

# Applications
cask "arc"
cask "google-chrome"
cask "iina"
cask "spotify"
cask "microsoft-teams"

# Quick Look Plugins
cask "qlcolorcode" # Preview source code files with syntax highlighting
cask "qlstephen" # Preview plain text files without a file extension
cask "qlmarkdown" # Preview Markdown files
cask "quicklook-json" # Preview JSON files
cask "quicklook-csv" # Preview CSV files
cask "webpquicklook" # Preview WebP images
cask "suspicious-package" # Preview the contents of a standard Apple installer package
cask "qlvideo" # Preview most types of video files

# su required packages
cask "gpg-suite"
cask "docker-desktop"
brew "docker-compose"
brew "python@3.14" # Interpreted, interactive, object-oriented programming langua
brew "diff-so-fancy" # Good-lookin' diffs with diff-highlight and more

{{- if eq .profile "home" }}
# Home Profile
brew "cookiecutter"
cask "chromedriver"
cask "1password"
cask "1password-cli"
cask "enpass"
cask "legcord"
cask "telegram"
cask "apparency" # Check the integrity of your apps
cask "setapp"
cask "whatsapp"
cask "windscribe"
cask "obsidian"
cask "anydesk"
cask "steam"
cask "minecraft"
tap "codecrafters-io/tap"
brew "codecrafters-io/tap/codecrafters"
{{- else if eq .profile "garda" }}
# Work Profile (Garda)
cask "jetbrains-toolbox"
cask "keeper-password-manager"
cask "onedrive"
{{- end }}
